<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
      
    {% endblock title %}</title>
    {% block head %}
      
    {% endblock head %}
{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    {% block style %}
      
    {% endblock style %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/frontend/add/">ADD</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/frontend/home/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/">ADMIN</a>
            </li>

          </ul>
              <ul class="navbar-nav">
            
            <li class="nav-item">
                <a class="nav-link" >Logout</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/frontend/login/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/frontend/register/">Register</a>
            </li>

          </ul>
       
        </div>
      
      </nav>
<!--navbar end-->        
    {% block body %}
      
    {% endblock body %}
</body>
</html>